.card {
  display: flex;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 16px 32px;

  transform: skewX(-10deg);
  -o-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);

  .team {
    min-width: 212px;
    display: flex;
    align-items: center;

    transform: skewX(10deg);
    -o-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);

    img {
      width: 72px;
      margin: -12px 4px;
    }

    h4 {
      margin: 0;
    }

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  span {
    background-color: var(--color-primary);
    color: var(--color-secondary-light);
    font-weight: bold;
    padding: 32px;
    margin: -32px 32px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;

    span {
      background-color: transparent;
    }
  }
}
