<section>
  <h2 class="color-secondary-dark">Títulos</h2>
  <app-row-titles [titles]="titlesRow1"></app-row-titles>
  <div class="players">
    <div class="players-left">
      <img src="../../../../assets/images/zanotti.png" alt="Zanotti">
      <img src="../../../../assets/images/grazi.png" alt="Grazi">
    </div>
    <img src="../../../../assets/images/respeita-as-mina.png" alt="respeita as mina" class="logo">
    <div class="players-right">
      <img src="../../../../assets/images/erika.png" alt="Erika">
      <img src="../../../../assets/images/diany.png" alt="Diany">
    </div>
  </div>
  <app-row-titles [titles]="titlesRow2"></app-row-titles>
</section>
