:root {
  --color-primary: #1f0269;
  --color-primary-light: #532e98;
  --color-primary-dark: #00003e;

  --color-secondary: #dbb47d;
  --color-secondary-light: #ffe6ad;
  --color-secondary-dark: #a88450;

  --color-white: #fff;
  --color-black: #000;
}
