// --- COLOR --- //
.color-primary {
  color: var(--color-primary);
}

.color-primary-light {
  color: var(--color-primary-light);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-secondary-light {
  color: var(--color-secondary-light);
}

.color-secondary-dark {
  color: var(--color-secondary-dark);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

// --- BACKGROUND COLOR --- //
.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-light {
  background-color: var(--color-secondary-light);
}

.bg-secondary-dark {
  background-color: var(--color-secondary-dark);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-white {
  background-color: var(--color-white);
}
